@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
.App {
  text-align: center;
  margin: auto;
  font-family: "montserrat";
}


form {
  max-width: 500px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  padding-bottom: 10px;
}

.form {

  max-width: 400px;
  margin: 0 auto;
}

p {
  color: #bf1650;
}


input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgb(209, 205, 205);
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 16px;
  font-family: 'montserrat';

}

label {
  line-height: 2;
  text-align: left;
  display: block;
  margin-bottom: 13px;
  margin-top: 20px;
  color: black;
  font-size: 16px;
}

button[type="submit"],
input[type="submit"] {
  background: #550086;
  color: white;
  border: none;
  margin-top: 40px;
  padding: 20px;
  font-size: 16px;
  width: 30%;
  cursor: pointer;
  margin: auto;
}

.center{
  display: inline;
  text-align: center;
}

button[type="submit"]:hover,
input[type="submit"]:hover {
  background: #6100bb;
}


.App {
  max-width: 600px;
  margin: 0 auto;
}
